<%= form_for(@sitio_entrega) do |f| %>
  <% if @sitio_entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitio_entrega.errors.count, "error") %> prohibited this sitio_entrega from being saved:</h2>

      <ul>
      <% @sitio_entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :forma_entrega_id %><br />
    <%= f.text_field :forma_entrega_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
