<h1>Listing evento</h1>

<table>
  <tr>

    <th>Id</th>
    <th>Descripcion</th>
    <th>Es cumple?</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evento.each do |e| %>
  <tr>
    <td><%= e.id %></td>
    <td><%= e.descripcion %></td>
    <% if e.iscumple == 1 %>
        <td>SI</td>
    <% else %>
        <td>NO</td>
    <% end %>
    <td><%= link_to 'Show', e %></td>
    <td><%= link_to 'Edit', edit_evento_path(e) %></td>
    <td><%= link_to 'Destroy', e, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evento', new_evento_path %>
