<!DOCTYPE html>
<html>
<head>
  <title>Pedidos</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>


  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'shared/navigation' %>
    <ul class="hmenu">
    </ul>
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>

    <%= yield %>

</body>
</html>
